<h3>Add region</h3>
<form #f="ngForm" (ngSubmit)="addRegion(f.value, f)">
     <div>
      <label for="Name">Name</label>
      <input type="text" name="Name" ngModel>
    </div>
    <div>
      <label for="CountryId">CountryId</label>
      <input type="text" name="CountryId" ngModel>
    </div>
  <input type="submit" value="Add"/>
</form>

<h3>Region</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "Name">Name</label>
          </td>
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let region of regions">
        <td>{{region.Name}}</td>
        <td><button (click)='deleteRegion(region.Id)' type="button">Delete</button></td>
      </tr>
    </table>
</div>