<html>
    <div id="reg">
    <body >


<a [routerLink]="['/admin']"></a>

<h3>Add region</h3>
<div>
<form #f="ngForm" (ngSubmit)="addRegion(f.value, f)">
  <table>
     <tr>
      <td> <label for="Name">Name</label> </td> 
      <td> <input type="text" name="Name" ngModel> </td>
    </tr> 
    <tr>
      <td> <label for="CountryId">Id of country:</label> </td>
      <td> <select name="CountryId" id="CountryId" [(ngModel)]="CountryId">
              <option *ngFor = "let country of countries" value={{country.Id}} >{{country.Name}}</option>
           </select>
      </td>
    </tr>
    <tr> 
      <td> <input type="submit" value="Add"/> </td>
      <td> <button (click)="onCancel()">Cancel</button> </td>
    </tr>
  </table>
</form>
</div>

<h3>Region</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "Name">Name</label>
          </td>
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let region of regions">
        <td>{{region.Name}}</td>
        <td><button (click)='deleteRegion(region.Id)' type="button">Delete</button></td>
      </tr>
    </table>
</div>
</body>
   </div>
</html>