
<a [routerLink]="['/appUser']"></a>

<h3>Choose room</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "RoomNumber">RoomNumber</label>
          </td>
          <td>
              <label for = "BedCount">BedCount</label>
          </td>
          <td>
              <label for = "Description">Description</label>
          </td>
          <td>
              <label for = "PricePerNight">PricePerNight</label>
          </td>
          <td>
              <label for = "AccommodationId">Accommodation </label>
          </td>
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let room of rooms">
        <td>{{room.RoomNumber}}</td>
        <td>{{room.BedCount}}</td>
        <td>{{room.Description}}</td>
        <td>{{room.PricePerNight}}</td>
        <td>{{room.AccommodationId}}</td>
        <td><button (click)='RoomReservation(room.Id)' type="button">Reservation</button></td>
            <a [routerLink]="['/room/room.Id']"></a>
      </tr>
    </table>

    <br>
    
    <div>
      <button (click)="onCancel()"> Back </button>
    </div>
</div>
