
<a [routerLink]="['/appUser']"></a>

<h3>Choose place</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "Name">Name</label>
          </td>
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let place of places">
        <td>{{place.Name}}</td>
        <td><button (click)='Choose(place.Id)' type="button">Choose</button></td>
            <a [routerLink]="['/place/place.Id']"></a>
      </tr>
    </table>
      
    <br>
    
    <div>
      <button (click)="onCancel()"> Back </button>
    </div>
</div>
