<h3>Add accommodation type</h3>
<form #f="ngForm" (ngSubmit)="addAccommodationType(f.value, f)">
     <div>
      <label for="Name">Name</label>
      <input type="text" name="Name" ngModel>
    </div>
  <input type="submit" value="Add"/>
</form>

<h3>Accommodation Type</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "Name">Name</label>
          </td>
          
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let accommodationType of accommodationTypes">
        <td>{{accommodationType.Name}}</td>
        <td><button (click)='deleteAccommodationType(accommodationType.Id)' type="button">Delete</button></td>
      </tr>
    </table>
</div>