<a [routerLink]="['/admin']"></a>

<h3>Add room</h3>

<form #f="ngForm" (ngSubmit)="addRoom(f.value, f)">
  <table>
     <tr>
      <td> <label for="RoomNumber">RoomNumber</label> </td>
      <td> <input type="text" name="RoomNumber" ngModel> </td>
    </tr>
    <tr>
      <td> <label for="BedCount">BedCount</label> </td>
      <td> <input type="text" name="BedCount" ngModel> </td>
    </tr>
    <tr>
      <td> <label for="Description">Description</label> </td>
      <td> <input type="text" name="Description" ngModel> </td>
    </tr>
    <tr>
      <td> <label for="PricePerNight">PricePerNight</label> </td>
      <td> <input type="text" name="PricePerNight" ngModel> </td>
    </tr>
   <tr>
      <td> <label for="AccommodationId">Id of accommodations: </label> </td>
      <td> <select name="AccommodationId" id="AccommodationId" [(ngModel)]="AccommodationId">
            <option *ngFor = "let accommodation of accommodations" value={{accommodation.Id}} >{{accommodation.Id}}</option>
           </select>
      </td>
    </tr>
    <tr>
      <td> <input type="submit" value="Add"/> </td>
      <td> <button (click)="onCancle()">Cancle</button> </td>
    </tr>
  </table>
</form>

<h3>Room</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "RoomNumber">RoomNumber</label>
          </td>
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let room of rooms">
        <td>{{room.RoomNumber}}</td>
        <td><button (click)='deleteRoom(room.Id)' type="button">Delete</button></td>
      </tr>
    </table>
</div>