<a [routerLink]="['/home']"></a>

<h2>Registration</h2>

<div>
  
  <form #f="ngForm" (ngSubmit)="onSubmitRegister(f.value,f)"> 
    <table>
      <tr>
          <td> <label for = "Email">Email:</label> </td>
          <td> <input type="email" name="Email" id="Email" [(ngModel)]="Email"/> </td>
      </tr>
      <tr>
          <td> <label for = "Username">Username:</label> </td>
          <td> <input type="text" name="Username" id="Username" [(ngModel)]="Username"/> </td>
      </tr>
      <tr>
          <td> <label for = "Password">Password:</label> </td>
          <td> <input type="password" name="Password" id="Password" [(ngModel)]="Password"/> </td>
      </tr>
      <tr>
          <td> <label for = "ConfirmPassword">Confirm password:</label> </td>
          <td> <input type="password" name="ConfirmPassword" id="ConfirmPassword" [(ngModel)]="ConfirmPassword"/> </td>
      </tr>
      <tr>
          <td> <label>Role:</label> </td>
          <td>
                <select name="Roles" id="Role" [(ngModel)]="Role">
                   <option value="AppUser">User</option>
                   <option value="Manager">Manager</option>
                   <option value="Admin">Admin</option>
                </select>
          </td>
      </tr>
  <tr>
    <td> <input class="button button1" type="submit" value="Register"/> </td>
    <td> <button (click)="onCancel()">Cancel</button> </td>
  </tr>
  </table>
</form>
</div>
