<html>
    <div id="reg">
    <body >

<a [routerLink]="['/admin']"></a>

<h3>Add country</h3>
<div>
<form #f="ngForm" (ngSubmit)="addCountry(f.value, f)">
    <table>
     <tr>
       <td> <label for="Name">Name</label> </td>
       <td> <input type="text" name="Name" ngModel> </td>
    </tr>
    <tr>
      <td> <label for="Code">Code</label> </td>
      <td> <input type="text" name="Code" ngModel> </td>
    </tr>
    <tr>
      <td> <input type="submit" value="Add"/> </td>
      <td> <button (click)="onCancel()">Cancel</button> </td>
    </tr>
    </table>
</form>
</div>
<h3>Countries</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "Name">Name</label>
          </td>
          <td>
              <label for = "Code">Code</label>
          </td>
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let country of countries">
        <td>{{country.Name}}</td>
        <td>{{country.Code}}</td>
        <td><button (click)='deleteCountry(country.Id)' type="button">Delete</button></td>
      </tr>
    </table>
</div>

</body>
   </div>
</html>
