<!DOCTYPE html>
<html >
<head>
</head>
 
  <body> 
    
     
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                 <a class="navbar-brand" href="#">Booking</a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><li><a [routerLink]="['/registration']">Registration</a></li></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><li><a [routerLink]="['/login']">Login</a></li></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><td>Home </td></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About First Login </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Please registration first<br>
                                  if you are here for the first time. </a>
                  </div>
                </li>
              </ul>     
            </div>      
      </nav>
      <div id="reg">
            <div class="container" >
                  <h1>Accommodation Booking</h1><br><br>
                  <h2> Find best place for vacation here</h2>            
                <router-outlet></router-outlet>  
            </div>

            
    </div>
  </body>
 
</html>

