<h3>Add room reservation</h3>
<form #f="ngForm" (ngSubmit)="addRoomReservation(f.value, f)">
     <div>
      <label for="StartDate">StartDate</label>
      <input type="text" name="StartDate" ngModel>
    </div>
    <div>
      <label for="EndDate">EndDate</label>
      <input type="text" name="EndDate" ngModel>
    </div>
    <div>
      <label for="Timestamp">Timestamp</label>
      <input type="text" name="Timestamp" ngModel>
    </div>
    <div>
      <label for="RoomId">RoomId</label>
      <input type="text" name="RoomId" ngModel>
    </div>
	<div>
      <label for="UserId">UserId</label>
      <input type="text" name="UserId" ngModel>
    </div>
  <input type="submit" value="Add"/>
</form>

<h3>RoomReservation</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "RoomId">RoomId</label>
          </td>
          <td>
              <label for = "UserId">UserId</label>
          </td>
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let roomReservation of roomReservations">
        <td>{{roomReservation.RoomId}}</td>
        <td>{{roomReservation.UserId}}</td>
        <td><button (click)='deleteRoomReservation(roomReservation.Id)' type="button">Delete</button></td>
      </tr>
    </table>
</div>