<a [routerLink]="['/admin']"></a>

<h3>Add room reservation</h3>

<form #f="ngForm" (ngSubmit)="addRoomReservation(f.value, f)">
  <table>
     <tr>
      <td> <label for="StartDate">StartDate</label> </td>
      <td> <input type="date" name="StartDate" ngModel> </td>
    </tr>
    <tr>
      <td> <label for="EndDate">EndDate</label> </td>
      <td> <input type="date" name="EndDate" ngModel> </td>
    </tr>
    <tr>
      <td> <label for="Timestamp">Timestamp</label> </td>
      <td> <input type="time" name="Timestamp" ngModel> </td>
    </tr>
    <tr>
      <td> <input type="submit" value="Add"/> </td>
      <td> <button (click)="onCancel()">Back</button> </td>
    </tr>
  </table>
</form>

<h3>RoomReservation</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "RoomId">RoomId</label>
          </td>
          <td>
              <label for = "UserId">UserId</label>
          </td>
          <td>
              <label for = "StartDate">StartDate</label>
          </td>
          <td>
              <label for = "EndDate">EndDate</label>
          </td>
          <td>
              <label for = "Timestamp">Timestamp</label>
          </td>
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let roomr of roomRs">
        <td>{{roomr.RoomId}}</td>
        <td>{{roomr.UserId}}</td>
        <td>{{roomr.StartDate}}</td>
        <td>{{roomr.EndDate}}</td>
        <td>{{roomr.Timestamp}}</td>
        <td><button (click)='deleteRoomReservation(roomr.Id)' type="button">Delete</button></td>
        <td><button (click)='CommentRoom(roomr.Id)' type="button">Comment</button></td>
            <a [routerLink]="['/roomr/roomr.Id']"></a>
      </tr>
    </table>
</div>