<h3>Add comment</h3>
<form #f="ngForm" (ngSubmit)="addComment(f.value, f)">
     <div>
      <label for="Grade">Grade</label>
      <input type="text" name="Grade" ngModel>
    </div>
    <div>
      <label for="Text">Text</label>
      <input type="text" name="Text" ngModel>
    </div>
    <div>
      <label for="UserId">UserId</label>
      <input type="text" name="UserId" ngModel>
    </div>
  <input type="submit" value="Add"/>
</form>

<h3>Comment</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "Text">Comment:</label>
          </td>
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let comment of comments">
        <td>{{comment.Text}}</td>
        <td><button (click)='deleteComment(comment.Id)' type="button">Delete</button></td>
      </tr>
    </table>
</div>