<html>
    <div id="reg">
    <body >

<a [routerLink]="['/appUser']"></a>

<h3>Add comment</h3>
<div>
<form #f="ngForm" (ngSubmit)="addComment(f.value, f)">
  <table>
     <tr>
      <td> <label for="Grade">Grade</label> </td>
      <td> <input type="text" name="Grade" ngModel> </td>
    </tr>
    <tr>
      <td> <label for="Text">Text</label> </td>
      <td> <input type="text" name="Text" ngModel> </td>
    </tr>
    <tr>
      <td> <label for="AccommodationId">Id of accommodations: </label> </td>
      <td> <select name="AccommodationId" id="AccommodationId" [(ngModel)]="AccommodationId">
            <option *ngFor = "let accommodation of accommodations" value={{accommodation.Id}} >{{accommodation.Id}}</option>
           </select>
      </td>
    </tr>
    <tr>
      <td> <input type="submit" value="Add"/> </td>
      <td> <button (click)="onCancel()">Back</button> </td>
    </tr>
  </table>
</form>
</div>
<h3>Comment</h3>
<div>
    <table border="1">
      <tr>
          <td>
              <label for = "UserId">Id of User</label>
          </td>
          <td>
              <label for = "Grade">Grade</label>
          </td>
          <td>
              <label for = "Text">Comment</label>
          </td>
          <td>
              <label for = "AccommodationId">Id of accommodation type:</label>
          </td>
          <td>
              <label>Option</label>       
          </td>
      </tr>

      <tr *ngFor="let comment of comments">
        <td>{{comment.UserId}}</td>
        <td>{{comment.Grade}}</td>
        <td>{{comment.Text}}</td>
        <td>{{comment.AccommodationId}}</td>
        <td><button (click)='deleteComment(comment.Id)' type="button">Delete</button></td>
      </tr>
    </table>
</div>
</body>
   </div>
</html>
